/*
 * DEFAULTS
 */

* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
}

body {
	background: #565A49;
}



/*
 * STRUCTURE
 */

.container {
	border: 0;
	width: 720px;
	height: auto;
	margin: 0 auto 0 auto;
	padding: 0;
	
	text-align: left;
}

header {
	padding: 50px 0 10px 0;
	position: fixed;
	width:10000px;
	
	overflow: visible;
	background: #565A49;
	
}

.main {
	border: 0px dotted green;
	margin-left: 222px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 425px;
	padding-top: 150px;
}



/*
 * STYLE
 */

h1,
h2,
h3,
h4	{
	margin: 0;
	border-width: 0;

	font-family: "RalewayThin", "Verdana", "Lucida Grande", "Gill Sans", "Arial", "Helvetica", sans-serif;
	font-weight: 100;
	font-style: normal;
	color:#ddd;
	letter-spacing:2px;
}

h1 {
	width: 100%;

	font-size: 90px;
}
	
h2 {
	padding: 10px 0 10px 0;

	font-size: 50px;	
}
	
h3 {
	padding: 5px;

	font-size: 30px;	
}

h4 {
	padding-bottom: 10px;

	font-size: 15px;
}

p {
	padding: 0 10px 5px 10px;
	margin: 0px 0px 1em 0px;

	font-family: Verdana,"Bitstream Vera Sans",sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#ddd;
	line-height: 14pt;
}

img {
	padding: 3%;
	width: 90%;
}

a {
	height: 100%;
	color: #ddd;
	text-decoration: none;
}

a:hover {
	background-color:#636655;
}

a.img:hover {
	background-color:#565A49;
}





/*
 * FONTS
 */

@font-face {
    font-family: 'RalewayThin';
    src: url('/assets/fonts/raleway_thin-webfont.eot');
    src: url('/assets/fonts/raleway_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/raleway_thin-webfont.woff') format('woff'),
         url('/assets/fonts/raleway_thin-webfont.ttf') format('truetype'),
         url('/assets/fonts/raleway_thin-webfont.svg#RalewayThin') format('svg');
    font-weight: normal;
    font-style: normal;
}
